:root {
    --font-family-raleway: "Raleway", sans-serif;
    --primary-color-1: #2c3e50;
    --primary-color-2: #34495e;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --dotted-line: 1px dotted #afb2b6;
    --color-green: #27ae60;
    --color-clouds: #ecf0f1;
  }
  
  html {
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* 1rem == 10px */
  }
  
  body {
    font-weight: 300;
    font-family: var(--font-family-raleway);
    color: var(--primary-color-1);
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  h3,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  button,
  button:hover,
  button:active,
  button:focus {
    display: inline-block;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: var(--primary-color-2);
  }
  
  .date_picker_wrapper {
    width: 38rem;
    box-shadow: var(--shadow-dark);
    border-radius: 3px;
  }
  
  .date_picker_header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: var(--dotted-line);
    margin-bottom: 2.5rem;
  }
  
  .date_picker_year {
    text-align: left;
    font-size: 3.2rem;
    font-weight: 900;
  }
  
  .date_picker_month_day {
    margin-top: 1rem;
    font-size: 2.3rem;
  }
  
  .date_picker_body {
    padding: 1.5rem;
  }
  
  .date_picker_month_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;
  }
  
  .date_picker_prev_month {
    transform: translateX(28%);
  }
  
  .date_picker_next_month {
    transform: translateX(-28%);
  }
  
  .date_picker_month_nav_btn {
    display: block;
    position: relative;
    font-size: 3rem;
  }
  
  .date_picker_month_name {
    font-weight: 500;
    font-size: 2.2rem;
    transform: translateY(-1px);
  }
  
  .date_picker_month_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2rem repeat(6, minmax(4rem, 1fr));
    text-align: center;
  }
  
  .date_picker_month_days li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .date_picker_month_days li button {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    color: var(--primary-color-1);
    border-radius: 50%;
    font-weight: 900;
    transition: all 0.3s ease;
  }
  
  .date_picker_month_days li button.active {
    background: var(--color-green);
    color: var(--color-clouds);
  }
  
  li.date_picker_week_day {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .reset-class{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline}
  
  /*  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
  .reset_class{line-height:1}
  ol,ul{list-style:none}
  blockquote,q{quotes:none}
  blockquote:before,blockquote:after,q:before,q:after{content:'';content:none} */
  table{border-collapse:collapse;border-spacing:0}